Test.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## Modules 8-9: Final Resume + Memory\nFinal resume generated from approved data. Preferences stored for future personalization.\nBR-7 Resume Validation | BR-10/11/12 Preference Scoring | BR-3 Versioning | BR-18 Audit Log | BR-13 Summary Dashboard\n\nFIX (Issue 3): user_preferences DataTable CREATE removed. Memory consolidated to staticData only.\napplication_summary + audit_log remain in DataTable (correct).\n\nFIX (Bug 5): Removed erroneous connections from DataTable CREATE nodes into Store nodes.\nCREATE nodes are one-time schema setup; Store nodes receive from Prepare nodes directly.",
        "height": 280,
        "width": 640,
        "color": 6
      },
      "id": "7393e5ff-4353-4bcd-9ccb-64f087247df7",
      "name": "Sticky Note - Memory",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2048,
        400
      ]
    },
    {
      "parameters": {
        "content": "## Modules 5-7: Content Generation\nBR-1 Smart priority-based review | BR-2 Memory Retrieval | BR-9 Keyword Density\nFIX: Cover Letter + Email prompts use $node references for job/ats data.\nFIX: Merge Content Outputs is 3 inputs.\n\nFIX (Issue 1): user_id now derived from email field (if provided) with name fallback.",
        "height": 380,
        "width": 660,
        "color": 5
      },
      "id": "f77f3631-6cc5-4ac5-b0dc-f11f9a18eaf9",
      "name": "Sticky Note - Content",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        256
      ]
    },
    {
      "parameters": {
        "content": "## Module 4: ATS Matching\nFIXED: ATS → App Recommendation ONLY.\nFIXED: Enrich ATS Context passes deterministic data to Suggestions Engine.\nBR-4 Deterministic Skill Match | BR-5 Experience Calc | BR-8 Dedup | BR-6 Confidence | BR-15 Recommendation",
        "height": 260,
        "width": 440,
        "color": 4
      },
      "id": "f8d55ca1-3918-4a86-9f22-4ef4d3a3f52d",
      "name": "Sticky Note - ATS",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1216,
        400
      ]
    },
    {
      "parameters": {
        "content": "## Modules 2-3: Parallel Analysis\nJob and resume analyzed independently and simultaneously.\nGuard nodes catch empty/failed LLM output before merge.\n\nFIX (Bug 1): Job Structure Parser jsonSchemaExample expanded to ALL 12 fields.\nFIX (Bug 2): Resume Structure Parser jsonSchemaExample expanded to ALL 13 fields.\nFIX (Bug 3): Guard nodes now output job_output / resume_output namespaced keys\n             to prevent 'output' key collision in Combine Job & Resume Analysis merge.\n             Skill & Experience Analyzer updated to read namespaced keys.",
        "height": 320,
        "width": 560,
        "color": 3
      },
      "id": "ec33694d-11b7-48bd-9d93-eccaeb615fdb",
      "name": "Sticky Note - Analysis",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Module 1: Job Input\nUpload job description PDF/DOCX/TXT and resume PDF/DOCX/TXT.\nBR-17 Input Validation — checks for empty/missing files.\n\nFIX (Issue 1): Added optional 'Email / Username' field to form.\nUsed as stable user_id if provided. Falls back to name if empty.",
        "height": 380,
        "width": 340,
        "color": 2
      },
      "id": "6daee1ba-4abf-4591-aaa5-067cf01c7897",
      "name": "Sticky Note - Input",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -976,
        176
      ]
    },
    {
      "parameters": {
        "formTitle": "AI Job Application Assistant",
        "formDescription": "Upload your job description and resume to get AI-powered application materials.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Job Description",
              "fieldType": "file",
              "fieldName": "jobFile",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf,.txt",
              "requiredField": true
            },
            {
              "fieldLabel": "Resume",
              "fieldType": "file",
              "fieldName": "resumeFile",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf,.docx,.txt",
              "requiredField": true
            },
            {
              "fieldLabel": "Email or Username (optional — used to remember your preferences across sessions)",
              "fieldName": "user_identifier"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "buttonLabel": "Analyze Application",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Processing your application... Results will be displayed shortly."
            }
          }
        }
      },
      "id": "455bf2d3-69a2-43d1-900b-78bb3abc810f",
      "name": "Start Application",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -2016,
        688
      ],
      "webhookId": "4d8527da-07d8-4f49-92b2-35bacd57c36c"
    },
    {
      "parameters": {
        "jsCode": "// BR-17: Input Validation\nconst data = $input.first().json;\nconst binaryData = $input.first().binary || {};\n\nconst errors = [];\n\nif (!binaryData.jobFile && !data.jobFile) {\n  errors.push('Job Description file is missing or empty.');\n}\nif (!binaryData.resumeFile && !data.resumeFile) {\n  errors.push('Resume file is missing or empty.');\n}\n\nif (errors.length > 0) {\n  throw new Error('Validation Failed: ' + errors.join(' | '));\n}\n\nreturn $input.all();"
      },
      "id": "e4ff3518-b93d-40ca-8e98-234e1c3584d7",
      "name": "Validate Input Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        688
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "job-is-pdf",
              "leftValue": "={{ $binary?.jobFile?.mimeType || $binary?.jobFile?.fileName || '' }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a2ec0235-ee41-4f5e-a990-43008debc92a",
      "name": "Route Job File Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -880,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "resume-is-pdf",
              "leftValue": "={{ $binary?.resumeFile?.mimeType || $binary?.resumeFile?.fileName || '' }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bbda1112-dca4-47a2-bbea-87c11276d6eb",
      "name": "Route Resume File Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -880,
        976
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "jobFile",
        "options": {
          "joinPages": true,
          "maxPages": 10
        }
      },
      "id": "b96210db-518f-4d27-a9e9-ed7677815398",
      "name": "Extract Job Description",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -432,
        288
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "resumeFile",
        "options": {
          "joinPages": true,
          "maxPages": 10
        }
      },
      "id": "d4169b64-9e13-4283-abe6-c4cb04896e38",
      "name": "Extract Resume",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -432,
        864
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "job-is-docx",
              "leftValue": "={{ $binary?.jobFile?.mimeType || $binary?.jobFile?.fileName || '' }}",
              "rightValue": "docx",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "78e0be11-dfb1-4dc0-9759-ece3266a88d5",
      "name": "Route Job DOCX Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -656,
        576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "resume-is-docx",
              "leftValue": "={{ $binary?.resumeFile?.mimeType || $binary?.resumeFile?.fileName || '' }}",
              "rightValue": "docx",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "43826825-de6d-4e62-b9ec-7409c0ba88f3",
      "name": "Route Resume DOCX Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -656,
        1152
      ]
    },
    {
      "parameters": {
        "operation": "docx"
      },
      "id": "21f65b89-5151-4d4c-946d-e4ae7c0dc892",
      "name": "Extract Job DOCX",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -432,
        480
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "jobFile",
        "options": {}
      },
      "id": "09da3390-48cd-4a1d-86ae-b4b2ca5493f6",
      "name": "Extract Job TXT",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -432,
        672
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "docx"
      },
      "id": "3ebcef83-d525-4f86-b3fb-37ee621d67d2",
      "name": "Extract Resume DOCX",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -432,
        1056
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "resumeFile",
        "options": {}
      },
      "id": "b7b06ef1-3d67-4524-b1eb-66d91030bb17",
      "name": "Extract Resume TXT",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -432,
        1248
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw = item.text || item.data || item.content || '';\nreturn [{ json: { text: raw } }];"
      },
      "id": "1a980c8c-c8c4-40ba-887a-871a70ebdbc0",
      "name": "Normalize Job Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw = item.text || item.data || item.content || '';\nreturn [{ json: { text: raw } }];"
      },
      "id": "e10587be-5d87-4b0d-bcce-70f3ba5ec181",
      "name": "Normalize Resume Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        1056
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Job Description Parser.\n\nReturn a single JSON object:\n\n{\n  \"role\":\"\",\n  \"job_level\":\"\",\n  \"employment_type\":\"\",\n  \"industry\":\"\",\n  \"location\":\"\",\n  \"experience_required\":\"\",\n  \"education_required\":\"\",\n  \"skills_required\":[],\n  \"skills_preferred\":[],\n  \"tools_and_technologies\":[],\n  \"responsibilities\":[],\n  \"keywords\":[],\n  \"soft_skills\":[]\n}\n\nRules:\n\nrole:\n- Exact job title.\n\njob_level:\n- Intern | Junior | Mid-Level | Senior | Lead | Manager | Unknown\n\nemployment_type:\n- Full-Time | Part-Time | Contract | Internship | Unknown\n\nindustry:\n- Explicit or inferred sector.\n\nlocation:\n- As written.\n- Hybrid → \"Hybrid — City\"\n\nexperience_required:\n- Exact experience requirement.\n\neducation_required:\n- Minimum education requirement.\n\nskills_required:\n- Mandatory skills only.\n- Deduplicate.\n- Exclude soft skills.\n\nskills_preferred:\n- Nice-to-have skills only.\n\ntools_and_technologies:\n- All technologies, languages, frameworks, tools, cloud, databases.\n\nresponsibilities:\n- Extract up to 10 responsibilities using original wording.\n\nkeywords:\n- ATS terms.\n- Include technologies, methodologies, certifications, domain terms.\n- Deduplicate.\n- 5–20 when available.\n\nsoft_skills:\n- Only explicitly mentioned interpersonal skills.\n\nJob Description:\n{{ $json.text }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "e8149c80-03f8-400a-9383-4eb143d6419b",
      "name": "Job Analyzer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        16,
        480
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek/deepseek-chat-v3.1",
          "mode": "list",
          "cachedResultName": "deepseek/deepseek-chat-v3.1"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "id": "4fce0f14-938c-48b0-b93d-4ff9952ed3dd",
      "name": "OpenAI Model - Job Analyzer",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        32,
        704
      ],
      "credentials": {
        "openAiApi": {
          "id": "x5QkreDilHObB97X",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"role\":\"Frontend Developer\",\"job_level\":\"Mid-Level\",\"employment_type\":\"Full-Time\",\"industry\":\"Technology\",\"location\":\"Remote\",\"experience_required\":\"2+ years\",\"education_required\":\"Bachelor's degree in Computer Science or equivalent\",\"skills_required\":[\"React\",\"TypeScript\",\"REST APIs\"],\"skills_preferred\":[\"GraphQL\",\"Docker\"],\"tools_and_technologies\":[\"React\",\"TypeScript\",\"Node.js\",\"Git\"],\"responsibilities\":[\"Build and maintain frontend applications\",\"Collaborate with design and backend teams\"],\"keywords\":[\"React\",\"TypeScript\",\"Frontend Development\",\"REST APIs\",\"Agile\"],\"soft_skills\":[\"Communication\",\"Team collaboration\"]}"
      },
      "id": "dc59d2b1-ad41-4d22-9ee6-b8c7319a8cdb",
      "name": "Job Structure Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        160,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "// FAILURE PATH GUARD — Job Analyzer\n// FIX (Bug 3): Normalize output into namespaced 'job_output' key\n// to prevent key collision with 'resume_output' in the Combine merge node.\n// Both chainLlm parsers produce $json.output — merging two items with the same\n// key causes one to overwrite the other. Namespacing solves this cleanly.\n\nconst item = $input.first().json;\n\n// chainLlm + outputParserStructured puts parsed fields directly into $json\n// (flattened at root). Fallback to item.output in case of wrapping.\nconst parsed = (item.role !== undefined) ? item : (item.output || {});\n\nconst role            = parsed.role            || null;\nconst skills_required = parsed.skills_required || null;\n\nif (!role || !skills_required || !Array.isArray(skills_required) || skills_required.length === 0) {\n  throw new Error(\n    'Job Analyzer produced invalid output. ' +\n    'role=' + JSON.stringify(role) + ' ' +\n    'skills_required=' + JSON.stringify(skills_required) + '. ' +\n    'Check that the job description file extracted correctly and the LLM returned valid JSON.'\n  );\n}\n\n// Output under namespaced key to avoid merge collision\nreturn [{ json: { job_output: parsed } }];"
      },
      "id": "702f4ef2-78e5-4f5e-9447-d25cb922b960",
      "name": "Guard Job Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        480
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Resume Parser.\n\nReturn:\n\n{\n  \"name\":\"\",\n  \"email\":\"\",\n  \"phone\":\"\",\n  \"location\":\"\",\n  \"linkedin\":\"\",\n  \"portfolio\":\"\",\n  \"summary\":\"\",\n  \"skills\":[],\n  \"experience\":[\n    {\n      \"title\":\"\",\n      \"company\":\"\",\n      \"start\":\"\",\n      \"end\":\"\",\n      \"description\":\"\"\n    }\n  ],\n  \"projects\":[\n    {\n      \"name\":\"\",\n      \"technologies\":[],\n      \"description\":\"\"\n    }\n  ],\n  \"education\":[\n    {\n      \"degree\":\"\",\n      \"institution\":\"\",\n      \"year\":\"\"\n    }\n  ],\n  \"certifications\":[],\n  \"languages\":[]\n}\n\nRules:\n\n- Extract only explicit information.\n- Never infer skills.\n\nskills:\n- Technical/professional skills only.\n- Deduplicate.\n- Canonical names preferred.\n\nexperience:\n- Extract all roles.\n- Preserve title/company.\n- Current role → \"Present\".\n- Description: concise summary from resume content only.\n\nprojects:\n- Extract only listed projects.\n- Technologies must be explicitly mentioned.\n\neducation:\n- Extract all entries.\n\ncertifications:\n- Include issuing body when available.\n\nlanguages:\n- Spoken/written languages only.\n\nResume:\n{{ $json.text }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "59e98419-dc3d-4340-9179-f87d6716ba28",
      "name": "Resume Analyzer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        16,
        1056
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek/deepseek-chat-v3.1",
          "mode": "list",
          "cachedResultName": "deepseek/deepseek-chat-v3.1"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "id": "979a4ca8-5c78-47b5-ac5b-12dbe21a18b3",
      "name": "OpenAI Model - Resume Analyzer",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        32,
        1280
      ],
      "credentials": {
        "openAiApi": {
          "id": "x5QkreDilHObB97X",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"name\":\"Varshit Madisetti\",\"email\":\"varshit@email.com\",\"phone\":\"+1-555-0100\",\"location\":\"San Francisco, CA\",\"linkedin\":\"linkedin.com/in/varshit\",\"portfolio\":\"varshit.dev\",\"summary\":\"Full-stack developer with 3 years of experience building scalable web applications.\",\"skills\":[\"React\",\"TypeScript\",\"Node.js\",\"JavaScript\",\"Python\",\"SQL\"],\"experience\":[{\"title\":\"Full Stack Developer\",\"company\":\"Fresh Prints\",\"start\":\"07/2023\",\"end\":\"Present\",\"description\":\"Built React apps and REST APIs serving 50k users\"},{\"title\":\"Junior Developer\",\"company\":\"Startup XYZ\",\"start\":\"01/2022\",\"end\":\"06/2023\",\"description\":\"Developed internal tooling in Python and JavaScript\"}],\"projects\":[{\"name\":\"Colorization Transformer\",\"technologies\":[\"Python\",\"PyTorch\",\"OpenCV\"],\"description\":\"Deep learning model for automatic image colorization\"},{\"name\":\"Zero-Day Attack Detection\",\"technologies\":[\"Python\",\"Scikit-learn\",\"Pandas\"],\"description\":\"ML pipeline for network intrusion detection\"}],\"education\":[{\"degree\":\"B.Sc. Computer Science\",\"institution\":\"University of Technology\",\"year\":\"2021\"}],\"certifications\":[\"AWS Certified Developer – Associate (Amazon)\"],\"languages\":[\"English\",\"Hindi\"]}"
      },
      "id": "ce533bff-7ab1-4a8e-b1d1-3862dbfe4185",
      "name": "Resume Structure Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        160,
        1280
      ]
    },
    {
      "parameters": {
        "jsCode": "// FAILURE PATH GUARD — Resume Analyzer\n// FIX (Bug 3): Normalize output into namespaced 'resume_output' key\n// to prevent key collision with 'job_output' in the Combine merge node.\n\nconst item = $input.first().json;\n\n// chainLlm + outputParserStructured puts parsed fields directly into $json\n// (flattened at root). Fallback to item.output in case of wrapping.\nconst parsed = (item.name !== undefined) ? item : (item.output || {});\n\nconst name   = parsed.name   || null;\nconst skills = parsed.skills || null;\n\nif (!name || !skills || !Array.isArray(skills) || skills.length === 0) {\n  throw new Error(\n    'Resume Analyzer produced invalid output. ' +\n    'name=' + JSON.stringify(name) + ' ' +\n    'skills=' + JSON.stringify(skills) + '. ' +\n    'Check that the resume file extracted correctly and the LLM returned valid JSON.'\n  );\n}\n\n// Output under namespaced key to avoid merge collision\nreturn [{ json: { resume_output: parsed } }];"
      },
      "id": "c9281187-22f7-4872-b90f-29f0dea245ec",
      "name": "Guard Resume Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        1056
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "892df409-c828-4b27-b134-9dce84d6778c",
      "name": "Combine Job & Resume Analysis",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        592,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "// BR-4: Deterministic Skill Matching\n// BR-5: Experience Calculation Engine\n// BR-5b: Deterministic Experience Match Score\n// BR-8: Duplicate Detection\n// BR-9: Keyword Density Check\n//\n// FIX (Bug 3): Read from namespaced keys 'job_output' and 'resume_output'\n// set by Guard Job Output and Guard Resume Output respectively.\n// This prevents the 'output' key collision that caused role=null after merging.\n\nconst items = $input.all();\nconst data  = items[0].json;\n\n// Read from namespaced keys (Bug 3 fix)\nconst jobRaw    = data.job_output    || {};\nconst resumeRaw = data.resume_output || {};\n\nlet job = {\n  role:                jobRaw.role                || '',\n  skills_required:     jobRaw.skills_required     || [],\n  skills_preferred:    jobRaw.skills_preferred    || [],\n  experience_required: jobRaw.experience_required || '',\n  keywords:            jobRaw.keywords            || [],\n  tools_and_technologies: jobRaw.tools_and_technologies || [],\n  responsibilities:    jobRaw.responsibilities    || [],\n  soft_skills:         jobRaw.soft_skills         || [],\n  job_level:           jobRaw.job_level           || '',\n  employment_type:     jobRaw.employment_type     || '',\n  industry:            jobRaw.industry            || '',\n  location:            jobRaw.location            || '',\n  education_required:  jobRaw.education_required  || ''\n};\n\nlet resume = {\n  name:           resumeRaw.name           || '',\n  email:          resumeRaw.email          || '',\n  phone:          resumeRaw.phone          || '',\n  location:       resumeRaw.location       || '',\n  linkedin:       resumeRaw.linkedin       || '',\n  portfolio:      resumeRaw.portfolio      || '',\n  summary:        resumeRaw.summary        || '',\n  skills:         resumeRaw.skills         || [],\n  experience:     resumeRaw.experience     || [],\n  projects:       resumeRaw.projects       || [],\n  education:      resumeRaw.education      || [],\n  certifications: resumeRaw.certifications || [],\n  languages:      resumeRaw.languages      || []\n};\n\n// BR-8: Deduplicate resume skills\nconst rawSkills  = resume.skills || [];\nconst seenSkills = new Set();\nconst deduplicatedSkills = [];\nfor (const skill of rawSkills) {\n  const normalized = String(skill).toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (!seenSkills.has(normalized)) {\n    seenSkills.add(normalized);\n    deduplicatedSkills.push(skill);\n  }\n}\nresume.skills = deduplicatedSkills;\n\n// BR-4: Deterministic skill matching\nconst requiredSkills  = (job.skills_required || []).map(s => String(s).toLowerCase().trim());\nconst candidateSkills = deduplicatedSkills.map(s => String(s).toLowerCase().trim());\n\nconst matchedSkills = [];\nconst missingSkills = [];\n\nfor (const req of requiredSkills) {\n  const reqNorm = req.replace(/[^a-z0-9]/g, '');\n  const found = candidateSkills.some(cs => {\n    const csNorm = cs.replace(/[^a-z0-9]/g, '');\n    return cs === req || cs.includes(req) || req.includes(cs) || csNorm === reqNorm;\n  });\n  if (found) {\n    matchedSkills.push(req);\n  } else {\n    missingSkills.push(req);\n  }\n}\n\nconst deterministicSkillScore = requiredSkills.length > 0\n  ? Math.round((matchedSkills.length / requiredSkills.length) * 100)\n  : 0;\n\n// BR-5: Experience Calculation\nfunction parseExperienceMonths(expArray) {\n  let totalMonths = 0;\n  for (const exp of (expArray || [])) {\n    const startStr = String(exp.start || exp.startDate || '').toLowerCase().trim();\n    const endStr   = String(exp.end   || exp.endDate   || 'present').toLowerCase().trim();\n\n    const parseDate = (str) => {\n      if (!str || str === '') return null;\n      if (str === 'present' || str === 'current' || str === 'now') return new Date();\n      const mmyyyy   = str.match(/(\\d{1,2})\\/(\\d{4})/);\n      if (mmyyyy) return new Date(parseInt(mmyyyy[2]), parseInt(mmyyyy[1]) - 1);\n      const monthYear = str.match(/([a-z]+)\\s+(\\d{4})/i);\n      if (monthYear) { const d = new Date(str); if (!isNaN(d)) return d; }\n      const yyyy = str.match(/\\b(\\d{4})\\b/);\n      if (yyyy) return new Date(parseInt(yyyy[1]), 0);\n      return null;\n    };\n\n    const startDate = parseDate(startStr);\n    const endDate   = parseDate(endStr);\n\n    if (startDate && endDate && !isNaN(startDate) && !isNaN(endDate)) {\n      const months = (endDate.getFullYear() - startDate.getFullYear()) * 12\n                   + (endDate.getMonth() - startDate.getMonth());\n      if (months > 0) totalMonths += months;\n    }\n  }\n  return totalMonths;\n}\n\nconst totalExperienceMonths = parseExperienceMonths(resume.experience);\nconst totalExperienceYears  = parseFloat((totalExperienceMonths / 12).toFixed(1));\n\nconst expRequiredMatch = String(job.experience_required || '').match(/(\\d+)/);\nconst requiredYears    = expRequiredMatch ? parseInt(expRequiredMatch[1]) : 0;\nconst experienceMet    = totalExperienceYears >= requiredYears;\n\n// BR-5b: Deterministic experience_match score\nlet experienceMatchScore;\nif (requiredYears === 0) {\n  experienceMatchScore = 85;\n} else {\n  const ratio = totalExperienceYears / requiredYears;\n  if (ratio >= 1.5)      experienceMatchScore = 95;\n  else if (ratio >= 1.0) experienceMatchScore = 85;\n  else if (ratio >= 0.8) experienceMatchScore = 72;\n  else if (ratio >= 0.6) experienceMatchScore = 60;\n  else if (ratio >= 0.4) experienceMatchScore = 45;\n  else                   experienceMatchScore = 30;\n}\n\n// BR-9: Keyword Density Check\nconst keywords   = job.keywords && job.keywords.length > 0 ? job.keywords : job.skills_required || [];\nconst resumeText = JSON.stringify(resume).toLowerCase();\nconst keywordDensity = {};\nfor (const kw of keywords) {\n  const kwLower  = String(kw).toLowerCase();\n  const escaped  = kwLower.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const matches  = resumeText.match(new RegExp(escaped, 'g')) || [];\n  keywordDensity[kw] = matches.length;\n}\nconst lowDensityKeywords = keywords.filter(kw => (keywordDensity[kw] || 0) < 2);\n\nreturn [{\n  json: {\n    job,\n    resume,\n    deterministic: {\n      matchedSkills,\n      missingSkills,\n      skillScore:           deterministicSkillScore,\n      totalExperienceMonths,\n      totalExperienceYears,\n      requiredYears,\n      experienceMet,\n      experienceMatchScore,\n      keywordDensity,\n      lowDensityKeywords\n    }\n  }\n}];"
      },
      "id": "981ccbd9-93b2-4c04-9f26-5c4efb98bca0",
      "name": "Skill & Experience Analyzer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "json"
            },
            {
              "id": "2",
              "name": "resume",
              "value": "={{ $json.resume }}",
              "type": "json"
            },
            {
              "id": "3",
              "name": "deterministic",
              "value": "={{ $json.deterministic }}",
              "type": "json"
            }
          ]
        },
        "options": {}
      },
      "id": "85e1ef1c-4c07-4351-80c7-be3c0e43439c",
      "name": "Prepare Analysis Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1904,
        784
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an ATS Scoring Engine.\n\nReturn:\n\n{\n  \"final_score\":0,\n  \"breakdown\":{\n    \"skill_match\":0,\n    \"experience_match\":0,\n    \"semantic_match\":0,\n    \"formatting\":0\n  },\n  \"missing_skills\":[],\n  \"matched_skills\":[],\n  \"summary\":\"\",\n  \"confidence\":0\n}\n\nDeterministic values (must be used exactly):\n\n{{ JSON.stringify($json.deterministic) }}\n\nMappings:\n\nskill_match = deterministicSkillScore\nexperience_match = experienceMatchScore\nmatched_skills = matchedSkills\nmissing_skills = missingSkills\n\nCompute:\n\nsemantic_match (0-100):\n- Domain relevance\n- Transferable experience\n- Relevant projects\n- Do not count matched skills again\n\nformatting (0-100):\n- Resume structure quality\n- Presence of summary, skills, experience, projects, education\n- Date consistency and readability\n\npenalty = missingSkills.length × 5\n\nFormula:\n\nfinal_score =\nround(\n(skill_match*0.40)+\n(experience_match*0.30)+\n(semantic_match*0.20)+\n(formatting*0.10)-\npenalty\n)\n\nClamp 0-100.\n\nconfidence (0-100):\n- Based on how explicit the evidence is.\n\nsummary:\n- 1–2 factual sentences.\n- Mention skill match, experience fit and major gap.\n\nJob:\n{{ JSON.stringify($json.job) }}\n\nResume:\n{{ JSON.stringify($json.resume) }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "832ab8b8-205f-457a-9943-04c2ed94fedc",
      "name": "ATS Matching Engine",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1040,
        496
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek/deepseek-chat-v3.1",
          "mode": "list",
          "cachedResultName": "deepseek/deepseek-chat-v3.1"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "id": "1c2a5039-1ee5-4a39-914f-0191af0b2660",
      "name": "OpenAI Model - ATS Matcher",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1056,
        720
      ],
      "credentials": {
        "openAiApi": {
          "id": "x5QkreDilHObB97X",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"final_score\":78,\"breakdown\":{\"skill_match\":80,\"experience_match\":70,\"semantic_match\":75,\"formatting\":90},\"missing_skills\":[\"REST APIs\"],\"matched_skills\":[\"React\",\"TypeScript\"],\"summary\":\"Good skill match with minor experience gap.\",\"confidence\":85}"
      },
      "id": "e47884e6-16ea-41fc-9c4a-5562fecf1cd6",
      "name": "ATS Score Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1184,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "// BR-15: Application Recommendation\nconst item = $input.first().json;\n\n// chainLlm + outputParserStructured: fields may be at root or under .output\nconst atsOutput = (item.final_score !== undefined) ? item : (item.output || {});\nconst score = atsOutput.final_score || 0;\n\nlet verdict = '';\nlet verdictReason = '';\n\nif (score >= 90) {\n  verdict = 'Strong Apply';\n  verdictReason = 'Excellent match. Your skills and experience align strongly with this role.';\n} else if (score >= 75) {\n  verdict = 'Apply';\n  verdictReason = 'Good match. Minor gaps exist but overall profile is competitive.';\n} else if (score >= 60) {\n  verdict = 'Apply with Resume Changes';\n  verdictReason = 'Moderate match. Address missing skills before applying.';\n} else {\n  verdict = 'Skip';\n  verdictReason = 'Low match. Significant skill or experience gaps detected.';\n}\n\nreturn [{\n  json: {\n    ...item,\n    verdict,\n    verdictReason\n  }\n}];"
      },
      "id": "9c443b63-ea64-4cca-866e-56e38c86a822",
      "name": "Application Recommendation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "output",
              "value": "={{ ($json.final_score !== undefined) ? $json : $json.output }}",
              "type": "json"
            },
            {
              "id": "2",
              "name": "deterministic",
              "value": "={{ $node[\"Skill & Experience Analyzer\"].json.deterministic }}",
              "type": "json"
            },
            {
              "id": "3",
              "name": "verdict",
              "value": "={{ $json.verdict }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "verdictReason",
              "value": "={{ $json.verdictReason }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b88656c7-6d33-442c-aa0a-ec03f30be23d",
      "name": "Enrich ATS Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        496
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Resume Improvement Engine.\n\nReturn:\n\n{\n  \"resume_suggestions\":[\n    {\n      \"text\":\"\",\n      \"priority\":\"high|medium|low\",\n      \"category\":\"skills|experience|keywords|formatting|projects\"\n    }\n  ]\n}\n\nInput:\n\nATS:\n{{ JSON.stringify($json.output) }}\n\nDeterministic:\n{{ JSON.stringify($json.deterministic) }}\n\nVerdict:\n{{ $json.verdict }}\n\nRules:\n\nGenerate 5–8 suggestions.\n\nMandatory:\n\n1. For each missing skill:\n- priority: high\n- category: skills\n- Suggest explicitly adding evidence of that skill if possessed.\n\n2. For each lowDensityKeyword:\n- priority: medium\n- category: keywords\n- Suggest increasing truthful usage.\n\nAdditional suggestions as needed:\n\n- Experience gap\n- Formatting issues\n- Missing projects\n- Reordering matched skills\n\nRequirements:\n\n- 20–60 words each.\n- Specific and actionable.\n- No duplicates.\n- Never suggest lying or inventing experience.",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "995cd7e0-309e-4e85-a8b3-76ab98011dfd",
      "name": "Suggestions Engine",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1840,
        384
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek/deepseek-chat-v3.1",
          "mode": "list",
          "cachedResultName": "deepseek/deepseek-chat-v3.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "f0473a01-15ee-4616-86bc-0e4d96424ef9",
      "name": "OpenAI Model - Suggestions",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1856,
        608
      ],
      "credentials": {
        "openAiApi": {
          "id": "x5QkreDilHObB97X",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"resume_suggestions\":[{\"text\":\"string\",\"priority\":\"string\",\"category\":\"string\"}]}"
      },
      "id": "43b593f6-97bc-4a42-bf68-afc93f7642d0",
      "name": "Suggestions Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1984,
        608
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "4d9c045d-9006-4247-88af-bec95ff6b53c",
      "name": "Merge Analysis + Suggestions",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2192,
        496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "job",
              "value": "={{ $node[\"Prepare Analysis Payload\"].json.job }}",
              "type": "json"
            },
            {
              "id": "2",
              "name": "resume",
              "value": "={{ $node[\"Prepare Analysis Payload\"].json.resume }}",
              "type": "json"
            },
            {
              "id": "3",
              "name": "deterministic",
              "value": "={{ $node[\"Prepare Analysis Payload\"].json.deterministic }}",
              "type": "json"
            },
            {
              "id": "4",
              "name": "ats",
              "value": "={{ $node[\"ATS Matching Engine\"].json.output !== undefined ? $node[\"ATS Matching Engine\"].json.output : $node[\"ATS Matching Engine\"].json }}",
              "type": "json"
            },
            {
              "id": "5",
              "name": "suggestions",
              "value": "={{ ($node[\"Suggestions Engine\"].json.output || {}).resume_suggestions || $node[\"Suggestions Engine\"].json.resume_suggestions || [] }}",
              "type": "json"
            },
            {
              "id": "6",
              "name": "verdict",
              "value": "={{ $node[\"Application Recommendation\"].json.verdict }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "verdictReason",
              "value": "={{ $node[\"Application Recommendation\"].json.verdictReason }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3e279624-be15-4dd6-a44e-27fd3248bd1c",
      "name": "Prepare Generation Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2416,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "// BR-2: Memory Retrieval\n// FIX (Issue 1): user_id resolution priority:\n//   1. user_identifier form field (email or username entered by user) — most stable\n//   2. Candidate name from resume (lowercased, spaces→underscores) — fallback\n//   3. 'unknown_user' — last resort\n\nconst genPayload = $node['Prepare Generation Payload'].json;\nconst resumeName = genPayload.resume.name || '';\n\nlet rawIdentifier = '';\ntry {\n  rawIdentifier = $node['Start Application'].json.user_identifier || '';\n} catch(e) {\n  rawIdentifier = '';\n}\n\nconst normalise = (s) => String(s).toLowerCase().trim().replace(/\\s+/g, '_').replace(/[^a-z0-9_.@-]/g, '');\n\nconst USER_ID = rawIdentifier\n  ? normalise(rawIdentifier)\n  : (resumeName ? normalise(resumeName) : 'unknown_user');\n\nconst staticData = $getWorkflowStaticData('global');\nconst allRecords = staticData.user_preferences || [];\n\nconst userRecords = allRecords\n  .filter(r => r.user_id === USER_ID)\n  .sort((a, b) => new Date(b.timestamp) - new Date(a.timestamp));\n\nconst latest = userRecords.length > 0 ? userRecords[0] : null;\n\nreturn [{\n  json: {\n    ...(latest || {}),\n    _resolved_user_id: USER_ID\n  }\n}];"
      },
      "id": "8bd789d0-1892-4423-afb3-46ee96522408",
      "name": "Load User Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        496
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// BR-1: Smart Review Processor\n// Priority rules (deterministic, not user-driven):\n//   HIGH   → always accepted\n//   MEDIUM → top 2 accepted, rest rejected\n//   LOW    → always rejected\n//\n// BR-2: Reads memory context from Load User Memory output\n\nconst suggestions = $node['Prepare Generation Payload'].json.suggestions || [];\n\nconst highPriority   = suggestions.filter(s => (s.priority || '').toLowerCase() === 'high');\nconst mediumPriority = suggestions.filter(s => (s.priority || '').toLowerCase() === 'medium');\nconst lowPriority    = suggestions.filter(s => (s.priority || '').toLowerCase() === 'low');\n\nconst acceptedSuggestions = [\n  ...highPriority,\n  ...mediumPriority.slice(0, 2)\n];\nconst rejectedSuggestions = [\n  ...mediumPriority.slice(2),\n  ...lowPriority\n];\n\n// Read memory from Load User Memory output\nlet pastMemory = null;\ntry {\n  const memItems = $input.all();\n  if (memItems && memItems.length > 0 && memItems[0].json && memItems[0].json.user_id) {\n    pastMemory = memItems[0].json;\n  }\n} catch(e) {}\n\nconst parseStoredArray = (value) => {\n  if (Array.isArray(value)) return value;\n  if (typeof value === 'string') {\n    try { const p = JSON.parse(value || '[]'); return Array.isArray(p) ? p : []; } catch(e) { return []; }\n  }\n  return [];\n};\n\nconst memoryContext = pastMemory ? {\n  past_accepted:     parseStoredArray(pastMemory.accepted_suggestions),\n  past_rejected:     parseStoredArray(pastMemory.rejected_suggestions),\n  past_ats_score:    pastMemory.ats_score  || null,\n  past_job_role:     pastMemory.job_role   || null,\n  preference_scores: (() => {\n    try { return JSON.parse(pastMemory.preference_scores || '{}'); } catch(e) { return {}; }\n  })(),\n  resume_version: (pastMemory.resume_version || 0) + 1\n} : {\n  past_accepted:     [],\n  past_rejected:     [],\n  past_ats_score:    null,\n  past_job_role:     null,\n  preference_scores: {},\n  resume_version:    1\n};\n\nreturn [{\n  json: {\n    accepted_suggestions: acceptedSuggestions,\n    rejected_suggestions: rejectedSuggestions,\n    memory_context:       memoryContext\n  }\n}];"
      },
      "id": "8685eeb9-21b4-4bce-8243-7f1ba5e7fb78",
      "name": "Smart Review Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        496
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "id": "6fba6418-0095-49b8-ba16-bb74766703d0",
      "name": "Merge Content Outputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3664,
        480
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a tailored cover letter using only the supplied data.\n\nJob:\n{{ JSON.stringify($node[\"Prepare Generation Payload\"].json.job) }}\n\nResume:\n{{ JSON.stringify($node[\"Prepare Generation Payload\"].json.resume) }}\n\nATS:\n{{ JSON.stringify($node[\"Prepare Generation Payload\"].json.ats) }}\n\nMemory:\n{{ JSON.stringify($node[\"Smart Review Processor\"].json.memory_context) }}\n\nRequirements:\n\n- 150–180 words\n- 4 paragraphs\n\nParagraph 1:\n- State role and company (if available)\n- Mention strongest relevant qualification\n\nParagraph 2:\n- Connect experience to requirements\n- Mention at least 2 matched skills\n- Reference a real project or role\n- Use only stated metrics\n\nParagraph 3:\n- Explain alignment with role/company\n\nParagraph 4:\n- Interview availability and sign-off\n\nRules:\n\n- First person\n- Professional and direct\n- No invented facts\n- No subject line\n\nAvoid:\n\"I am writing to apply\"\n\"I am passionate\"\n\"I am excited to\"\n\"I would be a great fit\"\n\"Please find attached\"\n\"To whom it may concern\"",
        "batching": {}
      },
      "id": "c2b2b50a-8e56-457d-af57-668ac29b0d12",
      "name": "Cover Letter Generator",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3088,
        512
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek/deepseek-chat-v3.1",
          "mode": "list",
          "cachedResultName": "deepseek/deepseek-chat-v3.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "dccbb8dc-5203-4e87-ab2b-481a807d6351",
      "name": "OpenAI Model - Cover Letter",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3168,
        736
      ],
      "credentials": {
        "openAiApi": {
          "id": "x5QkreDilHObB97X",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "cover_letter",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6c1f1eba-47f1-4d38-a7a2-9bf2b347ae2b",
      "name": "Map Cover Letter Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3440,
        624
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a recruiter outreach email.\n\nCandidate:\n{{ JSON.stringify($node[\"Prepare Generation Payload\"].json.resume) }}\n\nJob:\n{{ JSON.stringify($node[\"Prepare Generation Payload\"].json.job) }}\n\nATS:\n{{ JSON.stringify($node[\"Prepare Generation Payload\"].json.ats) }}\n\nFormat:\n\nSubject: Application for [role] — [candidate]\n\n[blank line]\n\nIntro:\n- Candidate name\n- Applied role\n- Strongest qualification\n\nBody:\n- Mention 2–3 matched skills\n- Connect to real role/project\n\nClosing:\n- Request interview\n\nSign-off:\n\nBest regards,\n[Name]\n[Email]\n\nRules:\n\n- Body 60–100 words\n- Professional\n- No fluff\n- No invented facts\n\nAvoid:\n\"I hope this email finds you well\"\n\"Please find attached\"\n\"I am writing to express my interest\"",
        "batching": {}
      },
      "id": "4fa4bf40-4ff4-4a50-9f4b-3cc9eeb2c2b6",
      "name": "Recruiter Email Generator",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3088,
        1024
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek/deepseek-chat-v3.1",
          "mode": "list",
          "cachedResultName": "deepseek/deepseek-chat-v3.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "2210325b-b8df-49bc-ba05-082ecd641730",
      "name": "OpenAI Model - Email",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3168,
        1248
      ],
      "credentials": {
        "openAiApi": {
          "id": "x5QkreDilHObB97X",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "recruiter_email",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "61fd1827-f48e-4a48-9695-e407396d9986",
      "name": "Map Recruiter Email Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3440,
        1024
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "job",
              "value": "={{ $node[\"Prepare Generation Payload\"].json.job }}",
              "type": "json"
            },
            {
              "id": "2",
              "name": "resume",
              "value": "={{ $node[\"Prepare Generation Payload\"].json.resume }}",
              "type": "json"
            },
            {
              "id": "3",
              "name": "ats_score",
              "value": "={{ ($node[\"Prepare Generation Payload\"].json.ats || {}).final_score || 0 }}",
              "type": "number"
            },
            {
              "id": "4",
              "name": "ats_breakdown",
              "value": "={{ ($node[\"Prepare Generation Payload\"].json.ats || {}).breakdown || {} }}",
              "type": "object"
            },
            {
              "id": "5",
              "name": "matched_skills",
              "value": "={{ ($node[\"Prepare Generation Payload\"].json.ats || {}).matched_skills || [] }}",
              "type": "array"
            },
            {
              "id": "6",
              "name": "missing_skills",
              "value": "={{ ($node[\"Prepare Generation Payload\"].json.ats || {}).missing_skills || [] }}",
              "type": "array"
            },
            {
              "id": "7",
              "name": "ats_confidence",
              "value": "={{ ($node[\"Prepare Generation Payload\"].json.ats || {}).confidence || 0 }}",
              "type": "number"
            },
            {
              "id": "8",
              "name": "suggestions",
              "value": "={{ $node[\"Prepare Generation Payload\"].json.suggestions }}",
              "type": "array"
            },
            {
              "id": "9",
              "name": "accepted_suggestions",
              "value": "={{ $json.accepted_suggestions }}",
              "type": "array"
            },
            {
              "id": "10",
              "name": "rejected_suggestions",
              "value": "={{ $json.rejected_suggestions }}",
              "type": "array"
            },
            {
              "id": "11",
              "name": "memory_context",
              "value": "={{ $json.memory_context }}",
              "type": "json"
            },
            {
              "id": "12",
              "name": "cover_letter",
              "value": "={{ $json.cover_letter }}",
              "type": "string"
            },
            {
              "id": "13",
              "name": "recruiter_email",
              "value": "={{ $json.recruiter_email }}",
              "type": "string"
            },
            {
              "id": "14",
              "name": "job_role",
              "value": "={{ $node[\"Prepare Generation Payload\"].json.job.role }}",
              "type": "string"
            },
            {
              "id": "15",
              "name": "candidate_name",
              "value": "={{ $node[\"Prepare Generation Payload\"].json.resume.name }}",
              "type": "string"
            },
            {
              "id": "16",
              "name": "verdict",
              "value": "={{ $node[\"Prepare Generation Payload\"].json.verdict }}",
              "type": "string"
            },
            {
              "id": "17",
              "name": "verdictReason",
              "value": "={{ $node[\"Prepare Generation Payload\"].json.verdictReason }}",
              "type": "string"
            },
            {
              "id": "18",
              "name": "deterministic",
              "value": "={{ $node[\"Prepare Generation Payload\"].json.deterministic }}",
              "type": "json"
            }
          ]
        },
        "options": {}
      },
      "id": "b3f7d7c3-2b00-469c-a994-d0156ac8999a",
      "name": "Prepare Review Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3888,
        496
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an ATS Resume Generator.\n\nReturn:\n\n{\n  \"header\":\"\",\n  \"summary\":\"\",\n  \"skills\":[],\n  \"experience\":[],\n  \"projects\":[],\n  \"education\":[]\n}\n\nUse only:\n\nJob:\n{{ JSON.stringify($json.job) }}\n\nResume:\n{{ JSON.stringify($json.resume) }}\n\nAccepted Suggestions:\n{{ JSON.stringify($json.accepted_suggestions) }}\n\nMemory:\n{{ JSON.stringify($json.memory_context) }}\n\nRules:\n\nheader:\n- Name | Email | Phone | Location | LinkedIn\n- Omit missing fields\n\nsummary:\n- 2–4 sentences\n- Max 60 words\n- Based only on resume\n\nskills:\n- Resume skills only\n- Deduplicate\n- Matched skills first\n- Max 20\n\nexperience:\nFormat:\n\n[Title] · [Company] · [Start]–[End]\n[bullet]\n[bullet]\n\nBullets:\n- Start with:\nBuilt, Developed, Designed, Implemented, Engineered, Delivered, Optimised, Refactored, Integrated, Automated, Reduced, Improved, Led, Mentored, Deployed, Migrated, Architected, Tested, Debugged, Configured\n- Rewrite existing content only\n- No invented metrics\n\nprojects:\n[Name] — [tech stack]\ndescription\n\neducation:\n[Degree] · [Institution] · [Year]\n\nApply accepted suggestions only when supported by resume data.\n\nNever add:\n- Skills\n- Roles\n- Projects\n- Dates\n- Metrics\n- Education entries\n\nthat do not exist in the source resume.",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "179602eb-a9d0-48fc-aa8e-5ecca077b43d",
      "name": "Final Resume Generator",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        4112,
        496
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek/deepseek-chat-v3.1",
          "mode": "list",
          "cachedResultName": "deepseek/deepseek-chat-v3.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "d04534ae-b60f-4b47-9a22-225544cdf97e",
      "name": "OpenAI Model - Resume Generator",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        4112,
        720
      ],
      "credentials": {
        "openAiApi": {
          "id": "x5QkreDilHObB97X",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"header\":\"Varshit Madisetti | varshit@email.com | +1-555-0100 | San Francisco, CA | linkedin.com/in/varshit\",\"summary\":\"Experienced Frontend Developer with 3+ years building scalable React applications.\",\"skills\":[\"React\",\"TypeScript\",\"REST APIs\",\"Node.js\",\"Python\"],\"experience\":[{\"title\":\"Full Stack Developer\",\"company\":\"Fresh Prints\",\"start\":\"07/2023\",\"end\":\"Present\",\"bullets\":[\"Built React apps serving 50k users\",\"Integrated REST APIs reducing latency by 30%\"]}],\"projects\":[{\"name\":\"Colorization Transformer\",\"tech\":\"Python, PyTorch\",\"description\":\"Deep learning model for image colorization\"}],\"education\":[{\"degree\":\"B.Sc. Computer Science\",\"institution\":\"University of Technology\",\"year\":\"2021\"}]}"
      },
      "id": "a0a8dff1-d05f-4e55-8a0e-a7a0ab61d0bf",
      "name": "Final Resume Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        4256,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "// BR-7: Resume Validation Layer\n// Hard error on critical missing sections; soft warning for optional ones.\nconst item = $input.first().json;\n\n// chainLlm + outputParserStructured: fields may be at root or under .output\nconst resume = (item.summary !== undefined || item.skills !== undefined) ? item : (item.output || {});\n\nconst warnings      = [];\nconst criticalErrors = [];\n\nif (!resume.summary || String(resume.summary).trim() === '') {\n  warnings.push('Missing Summary section.');\n}\nif (!resume.skills || resume.skills.length === 0) {\n  criticalErrors.push('Missing Skills section — resume is not usable without skills.');\n}\nif (!resume.experience || resume.experience.length === 0) {\n  criticalErrors.push('Missing Experience section — resume is not usable without experience.');\n}\nif (!resume.education || resume.education.length === 0) {\n  warnings.push('Missing Education section.');\n}\nif (!resume.projects || resume.projects.length === 0) {\n  warnings.push('Missing Projects section (optional but recommended).');\n}\n\nif (criticalErrors.length > 0) {\n  throw new Error(\n    'Resume Validation FAILED (critical): ' + criticalErrors.join(' | ') +\n    (warnings.length > 0 ? ' | Warnings: ' + warnings.join(' | ') : '')\n  );\n}\n\nreturn [{\n  json: {\n    ...item,\n    output: resume,\n    resume_validation: {\n      passed:          warnings.length === 0,\n      warnings,\n      critical_errors: criticalErrors\n    }\n  }\n}];"
      },
      "id": "fe053cad-69e2-4009-8af8-b9a0aa52795b",
      "name": "Resume Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4464,
        496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "user_id",
              "value": "={{ $node[\"Load User Memory\"].json._resolved_user_id || ($node[\"Prepare Review Data\"].json.candidate_name || 'unknown_user').toLowerCase().replace(/\\s+/g, '_').replace(/[^a-z0-9_]/g, '') }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "accepted_suggestions",
              "value": "={{ JSON.stringify($node[\"Prepare Review Data\"].json.accepted_suggestions || []) }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "rejected_suggestions",
              "value": "={{ JSON.stringify($node[\"Prepare Review Data\"].json.rejected_suggestions || []) }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "ats_score",
              "value": "={{ $node[\"Prepare Review Data\"].json.ats_score }}",
              "type": "number"
            },
            {
              "id": "5",
              "name": "ats_confidence",
              "value": "={{ $node[\"Prepare Review Data\"].json.ats_confidence }}",
              "type": "number"
            },
            {
              "id": "6",
              "name": "job_role",
              "value": "={{ $node[\"Prepare Review Data\"].json.job_role }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "verdict",
              "value": "={{ $node[\"Prepare Review Data\"].json.verdict }}",
              "type": "string"
            },
            {
              "id": "8",
              "name": "resume_version",
              "value": "={{ ($node[\"Prepare Review Data\"].json.memory_context || {}).resume_version ?? 1 }}",
              "type": "number"
            },
            {
              "id": "9",
              "name": "preference_scores",
              "value": "={{ ($node[\"Prepare Review Data\"].json.memory_context || {}).preference_scores ?? {} }}",
              "type": "object"
            },
            {
              "id": "10",
              "name": "resume_validation_warnings",
              "value": "={{ JSON.stringify($json.resume_validation.warnings || []) }}",
              "type": "string"
            },
            {
              "id": "11",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "66e88e5d-5b97-4561-8c8c-51d24391afa1",
      "name": "Prepare Memory Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4688,
        656
      ]
    },
    {
      "parameters": {
        "jsCode": "// FIX (Issue 3): Consolidated storage — user_preferences written to staticData ONLY.\n// FIX (Issue 1): user_id comes from _resolved_user_id (email-first, name-fallback).\n// Memory growth cap: max 1000 records, oldest removed when exceeded.\n\nconst staticData = $getWorkflowStaticData('global');\n\nif (!staticData.user_preferences) {\n  staticData.user_preferences = [];\n}\n\nconst record = {\n  user_id:                    $input.item.json.user_id,\n  accepted_suggestions:       $input.item.json.accepted_suggestions,\n  rejected_suggestions:       $input.item.json.rejected_suggestions,\n  ats_score:                  $input.item.json.ats_score,\n  ats_confidence:             $input.item.json.ats_confidence,\n  job_role:                   $input.item.json.job_role,\n  verdict:                    $input.item.json.verdict,\n  resume_version:             $input.item.json.resume_version,\n  preference_scores:          $input.item.json.preference_scores,\n  resume_validation_warnings: $input.item.json.resume_validation_warnings,\n  timestamp:                  $input.item.json.timestamp\n};\n\nstaticData.user_preferences.push(record);\n\nconst MAX_RECORDS = 1000;\nwhile (staticData.user_preferences.length > MAX_RECORDS) {\n  staticData.user_preferences.shift();\n}\n\nreturn [{\n  json: {\n    status:        'Memory saved',\n    total_records: staticData.user_preferences.length,\n    latest:        record\n  }\n}];"
      },
      "id": "7850d034-9b0b-48bb-ae6c-8c2270f2bb72",
      "name": "Store User Preferences",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4912,
        880
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "job_role",
              "value": "={{ $node[\"Prepare Review Data\"].json.job_role }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "ats_score",
              "value": "={{ $node[\"Prepare Review Data\"].json.ats_score }}",
              "type": "number"
            },
            {
              "id": "3",
              "name": "ats_confidence",
              "value": "={{ $node[\"Prepare Review Data\"].json.ats_confidence }}",
              "type": "number"
            },
            {
              "id": "4",
              "name": "verdict",
              "value": "={{ $node[\"Prepare Review Data\"].json.verdict }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "verdict_reason",
              "value": "={{ $node[\"Prepare Review Data\"].json.verdictReason }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "missing_skills",
              "value": "={{ JSON.stringify($node[\"Prepare Review Data\"].json.missing_skills || []) }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "matched_skills",
              "value": "={{ JSON.stringify($node[\"Prepare Review Data\"].json.matched_skills || []) }}",
              "type": "string"
            },
            {
              "id": "8",
              "name": "resume_version",
              "value": "={{ ($node[\"Prepare Review Data\"].json.memory_context || {}).resume_version ?? 1 }}",
              "type": "number"
            },
            {
              "id": "9",
              "name": "resume_validation_passed",
              "value": "={{ $json.resume_validation.passed }}",
              "type": "boolean"
            },
            {
              "id": "10",
              "name": "resume_validation_warnings",
              "value": "={{ JSON.stringify($json.resume_validation.warnings || []) }}",
              "type": "string"
            },
            {
              "id": "11",
              "name": "candidate_name",
              "value": "={{ $node[\"Prepare Review Data\"].json.candidate_name }}",
              "type": "string"
            },
            {
              "id": "12",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "286f1305-de82-495f-9079-a9ca3ca699ed",
      "name": "Prepare Application Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4688,
        464
      ]
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "application_summary",
        "columns": {
          "column": [
            {
              "name": "candidate_name"
            },
            {
              "name": "job_role"
            },
            {
              "name": "ats_score",
              "type": "number"
            },
            {
              "name": "ats_confidence",
              "type": "number"
            },
            {
              "name": "verdict"
            },
            {
              "name": "verdict_reason"
            },
            {
              "name": "missing_skills"
            },
            {
              "name": "matched_skills"
            },
            {
              "name": "resume_version",
              "type": "number"
            },
            {
              "name": "resume_validation_passed",
              "type": "boolean"
            },
            {
              "name": "resume_validation_warnings"
            },
            {
              "name": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        4688,
        1232
      ],
      "id": "9210f2e9-e7a1-4e29-835c-5368a5748422",
      "name": "application_summary"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "application_summary"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "candidate_name": "={{ $json.candidate_name }}",
            "job_role": "={{ $json.job_role }}",
            "ats_score": "={{ $json.ats_score }}",
            "ats_confidence": "={{ $json.ats_confidence }}",
            "verdict": "={{ $json.verdict }}",
            "verdict_reason": "={{ $json.verdict_reason }}",
            "missing_skills": "={{ $json.missing_skills }}",
            "matched_skills": "={{ $json.matched_skills }}",
            "resume_version": "={{ $json.resume_version }}",
            "resume_validation_passed": "={{ $json.resume_validation_passed }}",
            "resume_validation_warnings": "={{ $json.resume_validation_warnings }}",
            "timestamp": "={{ $json.timestamp }}"
          },
          "schema": [
            {
              "id": "candidate_name",
              "displayName": "candidate_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "job_role",
              "displayName": "job_role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ats_score",
              "displayName": "ats_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "ats_confidence",
              "displayName": "ats_confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "verdict",
              "displayName": "verdict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "verdict_reason",
              "displayName": "verdict_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "missing_skills",
              "displayName": "missing_skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "matched_skills",
              "displayName": "matched_skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "resume_version",
              "displayName": "resume_version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "resume_validation_passed",
              "displayName": "resume_validation_passed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "resume_validation_warnings",
              "displayName": "resume_validation_warnings",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "ea085f72-f9cc-48bd-b8e4-2287dc53161c",
      "name": "Store Application Summary",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        4912,
        688
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "event_type",
              "value": "workflow_complete",
              "type": "string"
            },
            {
              "id": "2",
              "name": "user_id",
              "value": "={{ $node[\"Load User Memory\"].json._resolved_user_id || ($node[\"Prepare Review Data\"].json.candidate_name || 'unknown_user').toLowerCase().replace(/\\s+/g, '_').replace(/[^a-z0-9_]/g, '') }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "job_role",
              "value": "={{ $node[\"Prepare Review Data\"].json.job_role }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "ats_score",
              "value": "={{ $node[\"Prepare Review Data\"].json.ats_score }}",
              "type": "number"
            },
            {
              "id": "5",
              "name": "verdict",
              "value": "={{ $node[\"Prepare Review Data\"].json.verdict }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "resume_version",
              "value": "={{ ($node[\"Prepare Review Data\"].json.memory_context || {}).resume_version ?? 1 }}",
              "type": "number"
            },
            {
              "id": "7",
              "name": "accepted_count",
              "value": "={{ ($node[\"Prepare Review Data\"].json.accepted_suggestions || []).length }}",
              "type": "number"
            },
            {
              "id": "8",
              "name": "rejected_count",
              "value": "={{ ($node[\"Prepare Review Data\"].json.rejected_suggestions || []).length }}",
              "type": "number"
            },
            {
              "id": "9",
              "name": "resume_validation_passed",
              "value": "={{ $json.resume_validation.passed }}",
              "type": "boolean"
            },
            {
              "id": "10",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8900a5af-204d-42ae-9da9-9f15cfe2c3bc",
      "name": "Prepare Audit Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4688,
        80
      ]
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "audit_log",
        "columns": {
          "column": [
            {
              "name": "event_type"
            },
            {
              "name": "user_id"
            },
            {
              "name": "job_role"
            },
            {
              "name": "ats_score",
              "type": "number"
            },
            {
              "name": "verdict"
            },
            {
              "name": "resume_version",
              "type": "number"
            },
            {
              "name": "accepted_count",
              "type": "number"
            },
            {
              "name": "rejected_count",
              "type": "number"
            },
            {
              "name": "resume_validation_passed",
              "type": "boolean"
            },
            {
              "name": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        4688,
        1040
      ],
      "id": "78453db2-7bbf-40fc-b6e6-d6c09c469914",
      "name": "audit_log"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "audit_log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event_type": "={{ $json.event_type }}",
            "user_id": "={{ $json.user_id }}",
            "job_role": "={{ $json.job_role }}",
            "ats_score": "={{ $json.ats_score }}",
            "verdict": "={{ $json.verdict }}",
            "resume_version": "={{ $json.resume_version }}",
            "accepted_count": "={{ $json.accepted_count }}",
            "rejected_count": "={{ $json.rejected_count }}",
            "resume_validation_passed": "={{ $json.resume_validation_passed }}",
            "timestamp": "={{ $json.timestamp }}"
          },
          "schema": [
            {
              "id": "event_type",
              "displayName": "event_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_role",
              "displayName": "job_role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ats_score",
              "displayName": "ats_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "verdict",
              "displayName": "verdict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "resume_version",
              "displayName": "resume_version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "accepted_count",
              "displayName": "accepted_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "rejected_count",
              "displayName": "rejected_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "resume_validation_passed",
              "displayName": "resume_validation_passed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "8420195c-6c6d-4c47-b37f-cbc4690179e8",
      "name": "Store Audit Log",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        4912,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build Resume HTML for PDF output\nconst item = $input.first().json;\n// FIX: Resume fields may be at root or under .output depending on parser behavior\nconst r = (item.summary !== undefined || item.skills !== undefined) ? item : (item.output || {});\nconst reviewData = $node['Prepare Review Data'].json;\n\nconst esc = (s) => String(s || '').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\n\nconst skillsList = (r.skills || []).map(s =>\n  `<span style=\"display:inline-block;background:#f0f4ff;border:1px solid #c7d2fe;border-radius:4px;padding:2px 10px;margin:2px 4px 2px 0;font-size:12px;color:#3730a3;\">${esc(s)}</span>`\n).join('');\n\nconst expItems = (r.experience || []).map(exp => {\n  if (typeof exp === 'string') return `<li style=\"margin-bottom:6px;\">${esc(exp)}</li>`;\n  // Support both 'description' string and 'bullets' array formats\n  const bullets = Array.isArray(exp.bullets) ? exp.bullets : [];\n  const descText = exp.description || '';\n  const bodyHtml = bullets.length > 0\n    ? bullets.map(b => `<li>${esc(b)}</li>`).join('')\n    : `<li>${esc(descText)}</li>`;\n  return `<li style=\"margin-bottom:10px;\"><strong>${esc(exp.title || '')}</strong> · ${esc(exp.company || '')} <span style=\"color:#6b7280;font-size:12px;\">${esc(exp.start || '')}–${esc(exp.end || 'Present')}</span><ul style=\"padding-left:14px;margin:4px 0;font-size:13px;color:#374151;\">${bodyHtml}</ul></li>`;\n}).join('');\n\nconst projItems = (r.projects || []).map(p => {\n  if (typeof p === 'string') return `<li style=\"margin-bottom:6px;\">${esc(p)}</li>`;\n  const tech = p.tech || (Array.isArray(p.technologies) ? p.technologies.join(', ') : '');\n  return `<li style=\"margin-bottom:6px;\"><strong>${esc(p.name || '')}</strong>${tech ? ' — ' + esc(tech) : ''}<br/><span style=\"font-size:13px;color:#374151;\">${esc(p.description || '')}</span></li>`;\n}).join('');\n\nconst eduItems = (r.education || []).map(e => {\n  if (typeof e === 'string') return `<li style=\"margin-bottom:6px;\">${esc(e)}</li>`;\n  return `<li style=\"margin-bottom:6px;\">${esc(e.degree || '')} · ${esc(e.institution || '')} · ${esc(e.year || '')}</li>`;\n}).join('');\n\nconst memCtx = reviewData.memory_context || {};\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head><meta charset=\"UTF-8\"/><title>Resume — ${esc(reviewData.candidate_name)}</title></head>\n<body style=\"font-family:Arial,sans-serif;max-width:800px;margin:40px auto;color:#111;line-height:1.6;\">\n  <div style=\"border-bottom:3px solid #4f46e5;padding-bottom:12px;margin-bottom:24px;\">\n    <h1 style=\"margin:0;font-size:26px;color:#1e1b4b;\">${esc(r.header || reviewData.candidate_name)}</h1>\n    <p style=\"margin:4px 0 0;font-size:13px;color:#6b7280;\">ATS Score: ${reviewData.ats_score || 'N/A'} · Role: ${esc(reviewData.job_role)} · Version: ${memCtx.resume_version || 1}</p>\n  </div>\n  ${r.summary ? `<section style=\"margin-bottom:20px;\"><h2 style=\"font-size:15px;color:#4f46e5;border-bottom:1px solid #e5e7eb;padding-bottom:4px;margin-bottom:8px;\">SUMMARY</h2><p style=\"margin:0;font-size:13px;\">${esc(r.summary)}</p></section>` : ''}\n  ${skillsList ? `<section style=\"margin-bottom:20px;\"><h2 style=\"font-size:15px;color:#4f46e5;border-bottom:1px solid #e5e7eb;padding-bottom:4px;margin-bottom:8px;\">SKILLS</h2><div>${skillsList}</div></section>` : ''}\n  ${expItems ? `<section style=\"margin-bottom:20px;\"><h2 style=\"font-size:15px;color:#4f46e5;border-bottom:1px solid #e5e7eb;padding-bottom:4px;margin-bottom:8px;\">EXPERIENCE</h2><ul style=\"padding-left:16px;margin:0;\">${expItems}</ul></section>` : ''}\n  ${projItems ? `<section style=\"margin-bottom:20px;\"><h2 style=\"font-size:15px;color:#4f46e5;border-bottom:1px solid #e5e7eb;padding-bottom:4px;margin-bottom:8px;\">PROJECTS</h2><ul style=\"padding-left:16px;margin:0;\">${projItems}</ul></section>` : ''}\n  ${eduItems ? `<section style=\"margin-bottom:20px;\"><h2 style=\"font-size:15px;color:#4f46e5;border-bottom:1px solid #e5e7eb;padding-bottom:4px;margin-bottom:8px;\">EDUCATION</h2><ul style=\"padding-left:16px;margin:0;\">${eduItems}</ul></section>` : ''}\n</body>\n</html>`;\n\nreturn [{ json: { html_resume: html, candidate_name: reviewData.candidate_name } }];"
      },
      "id": "aff427cb-6f6b-4f6a-a808-a6252aa9b0a4",
      "name": "Build Resume HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4688,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build Cover Letter HTML for PDF output\nconst item = $input.first().json;\nconst reviewData = $node['Prepare Review Data'].json;\nconst coverLetter = reviewData.cover_letter || '';\n\nconst esc = (s) => String(s || '').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\nconst bodyHtml = esc(coverLetter).replace(/\\n/g, '<br/>');\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head><meta charset=\"UTF-8\"/><title>Cover Letter — ${esc(reviewData.candidate_name)}</title></head>\n<body style=\"font-family:Arial,sans-serif;max-width:800px;margin:40px auto;color:#111;line-height:1.8;\">\n  <div style=\"border-bottom:3px solid #4f46e5;padding-bottom:12px;margin-bottom:32px;\">\n    <h1 style=\"margin:0;font-size:22px;color:#1e1b4b;\">Cover Letter</h1>\n    <p style=\"margin:4px 0 0;font-size:13px;color:#6b7280;\">${esc(reviewData.candidate_name)} · ${esc(reviewData.job_role)}</p>\n  </div>\n  <div style=\"font-size:14px;color:#1f2937;\">${bodyHtml}</div>\n</body>\n</html>`;\n\nreturn [{ json: { html_cover_letter: html, candidate_name: reviewData.candidate_name } }];"
      },
      "id": "8ab8ce7e-149f-432a-9823-6294dadbb0f6",
      "name": "Build Cover Letter HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4688,
        848
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "html_resume",
        "binaryPropertyName": "=",
        "options": {}
      },
      "id": "fbbfedd2-7125-47a5-87f6-e8b962949344",
      "name": "Resume to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4912,
        496
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "html_cover_letter",
        "options": {}
      },
      "id": "2f25dea5-bd29-458a-810b-dff255b93856",
      "name": "Cover Letter to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4912,
        1072
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1568,
        688
      ],
      "id": "56331eb1-a205-459e-b6dd-50013789bf4a",
      "name": "Split Out",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 2,
        "output": "={{ Object.keys($binary)[0] === 'jobFile' ? 0 : 1 }}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1264,
        688
      ],
      "id": "80e64f66-593d-451a-a61d-be4630747fc0",
      "name": "Switch"
    }
  ],
  "connections": {
    "Start Application": {
      "main": [
        [
          {
            "node": "Validate Input Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input Files": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Job File Type": {
      "main": [
        [
          {
            "node": "Extract Job Description",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Job DOCX Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Resume File Type": {
      "main": [
        [
          {
            "node": "Extract Resume",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Resume DOCX Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Description": {
      "main": [
        [
          {
            "node": "Normalize Job Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Resume": {
      "main": [
        [
          {
            "node": "Normalize Resume Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Job DOCX Type": {
      "main": [
        [
          {
            "node": "Extract Job DOCX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Job TXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Resume DOCX Type": {
      "main": [
        [
          {
            "node": "Extract Resume DOCX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Resume TXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job DOCX": {
      "main": [
        [
          {
            "node": "Normalize Job Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job TXT": {
      "main": [
        [
          {
            "node": "Normalize Job Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Resume DOCX": {
      "main": [
        [
          {
            "node": "Normalize Resume Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Resume TXT": {
      "main": [
        [
          {
            "node": "Normalize Resume Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Job Text": {
      "main": [
        [
          {
            "node": "Job Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Resume Text": {
      "main": [
        [
          {
            "node": "Resume Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Analyzer": {
      "main": [
        [
          {
            "node": "Guard Job Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Job Analyzer": {
      "ai_languageModel": [
        [
          {
            "node": "Job Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Job Structure Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Job Analyzer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Guard Job Output": {
      "main": [
        [
          {
            "node": "Combine Job & Resume Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Analyzer": {
      "main": [
        [
          {
            "node": "Guard Resume Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Resume Analyzer": {
      "ai_languageModel": [
        [
          {
            "node": "Resume Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Resume Structure Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Resume Analyzer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Guard Resume Output": {
      "main": [
        [
          {
            "node": "Combine Job & Resume Analysis",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine Job & Resume Analysis": {
      "main": [
        [
          {
            "node": "Skill & Experience Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skill & Experience Analyzer": {
      "main": [
        [
          {
            "node": "Prepare Analysis Payload",
            "type": "main",
            "index": 0
          },
          {
            "node": "ATS Matching Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Analysis Payload": {
      "main": [
        [
          {
            "node": "Merge Analysis + Suggestions",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ATS Matching Engine": {
      "main": [
        [
          {
            "node": "Application Recommendation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - ATS Matcher": {
      "ai_languageModel": [
        [
          {
            "node": "ATS Matching Engine",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ATS Score Parser": {
      "ai_outputParser": [
        [
          {
            "node": "ATS Matching Engine",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Application Recommendation": {
      "main": [
        [
          {
            "node": "Enrich ATS Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich ATS Context": {
      "main": [
        [
          {
            "node": "Suggestions Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suggestions Engine": {
      "main": [
        [
          {
            "node": "Merge Analysis + Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Suggestions": {
      "ai_languageModel": [
        [
          {
            "node": "Suggestions Engine",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Suggestions Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Suggestions Engine",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Merge Analysis + Suggestions": {
      "main": [
        [
          {
            "node": "Prepare Generation Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Generation Payload": {
      "main": [
        [
          {
            "node": "Load User Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load User Memory": {
      "main": [
        [
          {
            "node": "Smart Review Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Review Processor": {
      "main": [
        [
          {
            "node": "Merge Content Outputs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cover Letter Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Recruiter Email Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Content Outputs": {
      "main": [
        [
          {
            "node": "Prepare Review Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cover Letter Generator": {
      "main": [
        [
          {
            "node": "Map Cover Letter Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Cover Letter": {
      "ai_languageModel": [
        [
          {
            "node": "Cover Letter Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Map Cover Letter Output": {
      "main": [
        [
          {
            "node": "Merge Content Outputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Recruiter Email Generator": {
      "main": [
        [
          {
            "node": "Map Recruiter Email Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Email": {
      "ai_languageModel": [
        [
          {
            "node": "Recruiter Email Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Map Recruiter Email Output": {
      "main": [
        [
          {
            "node": "Merge Content Outputs",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Prepare Review Data": {
      "main": [
        [
          {
            "node": "Final Resume Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Resume Generator": {
      "main": [
        [
          {
            "node": "Resume Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Resume Generator": {
      "ai_languageModel": [
        [
          {
            "node": "Final Resume Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Final Resume Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Final Resume Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Resume Validator": {
      "main": [
        [
          {
            "node": "Prepare Memory Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Application Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Audit Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Resume HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Cover Letter HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Memory Data": {
      "main": [
        [
          {
            "node": "Store User Preferences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Application Summary": {
      "main": [
        [
          {
            "node": "Store Application Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audit Log": {
      "main": [
        [
          {
            "node": "Store Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Resume HTML": {
      "main": [
        [
          {
            "node": "Resume to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cover Letter HTML": {
      "main": [
        [
          {
            "node": "Cover Letter to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Route Job File Type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Resume File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "dcd46b06234145d0006db019d695ea75e42dd17cd00ec6d4aad137595ab21625"
  }
}